{% extends 'layouts/base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 order-md-2">
      <div class="card-group">
        <div class="card mx-md-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h2 class="m-b-0">
                  <i class="mdi mdi-wifi text-success"></i>
                </h2>
                <h3 class="">{{data_stream['status']}}</h3>
                <h6 class="card-subtitle">Status Broadcast</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="card mx-md-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h2 class="m-b-0">
                  <i class="mdi mdi-account-multiple text-info"></i>
                </h2>
                <h3 id="viewers_count">0</h3>
                <h6 class="card-subtitle">Viewers</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">RTMP Server Information</h4>
          <h6 class="card-subtitle">Live Streaming Server</h6>
          <form class="form p-t-20">
            <div class="form-group">
              <label for="broadcastId">Broadcast ID</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="ti-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="broadcastId"
                  value="{{data_stream.broadcast_id}}"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="streamUrl">Stream URL</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="mdi mdi-link"></i>
                  </span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  id="streamUrl"
                  value="{{data_stream.stream_server}}"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="streamKey">Stream Key</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="ti-lock"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="streamKey"
                  value="{{data_stream.stream_key}}"
                />
              </div>
              <small
                >Stream key is not persistent and can only be used once.
                You must to restart server if you want to live
                again.</small
              >
            </div>
            <button type="button" id="startBroadcast" class="btn btn-primary mt-2 mt-md-0" {% if data_stream['status'] == 'active' %} disabled {% endif %}>
              <i class="mdi mdi-play"></i> Start Broadcast
            </button>
            <button type="button" class="btn btn-danger mt-2 mt-md-0" id="stopBroadcast"
            {% if data_stream['status'] != 'active' %}
              disabled='false'
            {% endif %}>
              <i class="mdi mdi-stop"></i> Stop Broadcast
            </button>
            <a href="/dashboard/refresh_key" type="submit"
            class="btn btn-outline-danger mt-2 mt-md-0" 
              id="refreshKey"><i class="mdi mdi-restart"></i> Restart Server</a>
        </div>
      </div>
    </div>
    
  </div>

</div>
{% endblock content %}
