{% extends 'layouts/base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 order-md-2">
      <div class="card-group">
        <div class="card mx-md-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h2 class="m-b-0">
                  <i class="mdi mdi-wifi text-success"></i>
                </h2>
                <h3 class="" id="live_status">{{data_stream['status']}}</h3>
                <h6 class="card-subtitle">Status Broadcast</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="card mx-md-2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h2 class="m-b-0">
                  <i class="mdi mdi-account-multiple text-info"></i>
                </h2>
                <h3 id="viewers_count">0</h3>
                <h6 class="card-subtitle">Viewers</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">RTMP Server Information</h4>
          <h6 class="card-subtitle">Live Streaming Server</h6>
          <form class="form p-t-20">
            <div class="form-group">
              <label for="broadcastId">Broadcast ID</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="ti-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="broadcastId"
                  value="{{data_stream.broadcast_id}}"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="streamUrl">Stream URL</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="mdi mdi-link"></i>
                  </span>
                </div>
                <input
                  type="email"
                  class="form-control"
                  id="streamUrl"
                  value="{{data_stream.stream_server}}"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="streamKey">Stream Key</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="ti-lock"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="streamKey"
                  value="{{data_stream.stream_key}}"
                />
              </div>
              <small
                >Stream key is not persistent and can only be used once.
                You must to restart server if you want to live
                again.</small
              >
            </div>
            <button type="button" class="btn btn-primary mt-2 mt-md-0 startBroadcast" {% if data_stream['status'] == 'active' %} disabled {% endif %}>
              <i class="mdi mdi-play"></i> Start Broadcast
            </button>
            <button type="button" class="btn btn-danger mt-2 mt-md-0" id="stopBroadcast"
            {% if data_stream['status'] != 'active' %}
              disabled
            {% endif %}>
              <i class="mdi mdi-stop"></i> Stop Broadcast
            </button>
            <a href="/dashboard/refresh_key" type="submit"
            class="btn btn-outline-danger mt-2 mt-md-0 {% if data_stream['status'] == 'active' %} disabled {% endif %}" 
              id="refreshKey"  ><i class="mdi mdi-restart"></i> Restart Server</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
            Quickstart Guide
        </div>
        <div class="card-body">
          <div class="article-container">
            <h2 class="card-title text-center">Getting started with InstaLiveWeb on OBS</h2>
            <h5 class="card-text">
              1. On OBS, click settings on the right down of your windows.
            </h5>
            <img class="img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/step1.png') }}" alt="">

            <h5 class="card-text mt-1">
              2. On Stream tab, click on service dropdown and select Custom... options
            </h5>
            <img class="img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/step2.png') }}" alt="">

            <h5 class="card-text mt-1">
              3. Insert <code>{{data_stream.stream_server}}</code> to server field
            </h5>
            <h5 class="card-text mt-1">
              4. Insert your stream key <input type="text" class="form-control mt-2" value="{{data_stream.stream_key}}">
            </h5>
            <img class="img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/step3.png') }}" alt="">

            <h5 class="card-text mt-1">
              5. <code>(OPTIONAL) </code> Set base resolution to <code>720x1080</code> to match the aspect ratio from the Instagram
            </h5>
            <img class="img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/step3_opt.png') }}" alt="">

            <h5 class="card-text mt-1">
              6. Don't forget to hit <code>apply</code> and <code>close</code> the settings window
            </h5>

            <h5 class="card-text mt-1">
              7. To starting the stream, you must click on <code>Start Streaming</code> on your obs first.
            </h5>

            <img class="img-thumbnail mx-auto d-block" src="{{ url_for('static', filename='img/step4.png') }}" alt="">

            <h5 class="card-text mt-1">
              8. After that, you can click <code>Start Broadcast</code> button in the <code>RTMP Server Information
              </code> section on top or alternatively click on button below
            </h5>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-2 mt-md-0 startBroadcast" {% if data_stream['status'] == 'active' %} disabled {% endif %}>
                <i class="mdi mdi-play"></i> Start Broadcast
              </button>
            </div>
            
          </div>

            
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
