{% extends 'layouts/base_login.html' %} {% block content %}
<div class="container">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 100vh"
  >
    <div class="login">
      {% with messages = get_flashed_messages() %}{% if messages %}{% for
      message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}{% endif %}{% endwith %}
      <div class="card">
        <div class="card-body text-center">
          <img
            src="{{ url_for('static', filename='img/instagram_text_logo.png') }}
          "
            alt="instagram logo"
            width="250"
          />
          <h5 class="card-title text-center mb-4">Instagram Live</h5>
          <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{
              form.username(class="form-control",id="InputUsername",placeholder="Username")
              }}
            </div>
            <div class="form-group">
              {{
              form.password(class="form-control",id="inputPassword",placeholder="Password")
              }}
            </div>
            {{form.submit(class="btn btn-primary btn-block")}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
