.login {
  .card {
    padding: 2em;

    .form-group {
      margin-bottom: 1rem;
    }
  }
}

.top-navbar {
  min-height: 60px !important;
}

#live_status {
  text-transform: capitalize;
}

.card-header-action {
  display: flex;
  justify-content: space-between;

  span {
    align-self: center;
  }
}

.chat-list {
  height: 13.6em;
  overflow: auto;

  li {
    margin: 0;
  }

  .chat-content {
    h5 {
      font-size: 0.9em;
      margin: 0;
    }
    width: calc(100% - 10px) !important;
    font-size: 0.8em;
  }
}

.form-control:hover {
  background-color: aliceblue;
  transition: all 400ms;
}

.msg-box {
  display: flex;

  textarea {
    margin-right: 1em;
  }
}

.pincode-input-text-masked {
  font-family: inherit;

  &:nth-child(4) {
    margin-right: 1em;
  }

  &:nth-child(5) {
    border-left-width: 1px !important;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .article-container {
    padding: 0 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .article-container {
    padding: 0 4em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .article-container {
    padding: 0 9em;
  }
}

@media (min-width: 768px) {
  .code-container {
    width: 25em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .article-container {
    padding: 0 14em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .article-container {
    padding: 0 17em;
  }
}
